.app-body {
    margin: 0 24px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: right;
}

.view-controls-container {
    margin: 10px 0 10px 0;
}

.view-controls-container:after {
    content: "";
    display: table;
    clear: both;
}

.view-controls {
    display: inline-block;
    margin: 0 0 0 10px;
}

.view-controls.view-categories {
    float: left;
}

.view-controls.view-controls-sort {
    float: right;
}

.view-controls.view-controls-sort > div {
    margin: 0 0 0 20px;
}